@import '../../../../../styles/color.scss';
@import '../../../../../styles/size.scss';
@import '../../../../../styles/mixins.scss';

.root {
  width: calc(100% - 24px);
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  @include quickTransition(box-shadow);
}

.root:hover {
  box-shadow: 0 0 10px 2px $mainColor;
}

.info {
  padding: 10px;
}

.title {
  font-size: $titleSize;
  color: $mainColor;
}

.description {
  color: $dark;
}