@import '../../../../../styles/color.scss';
@import '../../../../../styles/size.scss';
@import '../../../../../styles/mixins.scss';

.root {
  width: calc(100% - 24px);
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  cursor: pointer;
  @include normalTransition(box-shadow);
  position: relative;
}

.root:hover {
  box-shadow: 0 0 10px 2px $mainColor;
}

.info {
  padding: 10px;
}

.title {
  font-size: $titleSize;
  color: $mainColor;
}

.description {
  color: $dark;
}

.tagsContainer {
  border-right: 2px solid $mainColor;
  margin-right: 8px;
}

.meta { 
  display: inline-block;
}

.icon {
  position: relative;
  margin-right: 8px;
}

.overlay {
  opacity: 0;
  @include normalTransition(opacity);
}

.root:hover {
  .overlay {
    opacity: 1;
  }
}