@import '../../../../styles/size';

.root {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.item {
  width: 33%;
  margin-bottom: 36px;
}

@media (max-width: $tabletWidth) {
  .item {
    width: 50%;
  }
}

@media (max-width: $smallMobileWidth) {
  .item {
    width: 100%;
  }
}